<div id="id01" class="modal" style="display: block;">
    <form #driverform = ngForm (ngSubmit) = "driverform.valid && addDriver(driverform)" class="modal-content animate" style="width:80%">
        <div class="container1">
            <h1>Driver Register Page</h1>
        <div>
            <label>Username: </label>
            <input name = "username" ngModel #usernameControl=ngModel required minlength="3" class="form-control">
        </div>
        <div *ngIf = "usernameControl.errors!=null && usernameControl.errors.required" class="error" style="color: red;">
            Username is required
        </div>
        <div *ngIf = "usernameControl.errors!=null && usernameControl.errors.minlength" class="error" style="color: red;">
            Minimum length is 3
        </div>
    
    
        <div>
            <label>Password: </label>
            <input name = "password" ngModel #passwordControl=ngModel required class="form-control" type="password">
        </div>
        <div *ngIf = "passwordControl.errors!=null && passwordControl.errors.required" class="error" style="color: red;">
            Password is required
        </div>
    
    
        <div>
            <label>Mobile number: </label>
            <input name = "mobileNumber" ngModel class="form-control">
        </div>
        <div>
            <label>Email: </label>
            <input name = "email" ngModel class="form-control" type="email">
        </div>
        <div>
            <label>LicenseNo: </label>
            <input name = "licenseNo" ngModel #licenseNoControl=ngModel required minlength="3" class="form-control">
        </div>
        <div *ngIf = "licenseNoControl.errors!=null && licenseNoControl.errors.required" class="error" style="color: red;">
            LicenseNo is required
        </div>
        <div *ngIf = "licenseNoControl.errors!=null && licenseNoControl.errors.minlength" class="error" style="color: red;">
            Minimum length is 3
        </div>
        <div>
            <label for="">Cab Car Type</label>
            <input name = "carType" ngModel required class="form-control">
        </div>
    </div>
        <div class="container1" style="background-color:#f1f1f1">
        <input type="submit" value="Submit Details" class="form-control">
    </div>
    
    </form>
    </div>