<div *ngIf="customer !== undefined">
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card w3-hide-small">
          <a routerLink="" class="w3-bar-item w3-button"><b> <img src="https://icon-library.net/images/car-icon-images/car-icon-images-12.jpg" style="width:25px;height:25px"></b>Pick Me Cab</a>
          <div class="w3-right ">
            <a routerLink="" class="w3-bar-item w3-button">Home</a>
            <a routerLink="/updateCustomer" class="w3-bar-item w3-button">Update Profile</a>
          </div>
        </div>
    </div>
    <br>
    <br>
    <br>
<div class="main"></div>

<div class="back">
    <div class="sections jumbotron" >
        
<div class="firstSection">
    
        <h2> 
            <style>
                h2 {text-align: center;}
                </style>
             Welcome {{customer.username}} To Our Portal </h2>
    <br>
    Email Id:  {{customer.email}} <br>
    Mobile Number: {{customer.mobileNumber}}
    <br>
    Customer id: {{customer.customerId}}
</div>


<div class="thirdSection">
    What Would you Want to do next?
    <br>
    <button (click)="goToBestDrivers()">View Best Drivers</button>
    <br>
    <button (click)="goToCustomerIdTrip()">View Your Trip Details</button>
    <br>
    <button (click)="viewYourBill()">View Your Bill</button>
</div>
</div>
</div>
</div>