
<div id="id01" class="modal" style="display: block;">
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card w3-hide-small">
          <a routerLink="/home" class="w3-bar-item w3-button"><b> <img src="https://icon-library.net/images/car-icon-images/car-icon-images-12.jpg" style="width:25px;height:25px"></b>Pick Me Cab</a>
          <div class="w3-right ">
            <a routerLink="/home" class="w3-bar-item w3-button">Home</a>
            <a routerLink="/customerLogin" class="w3-bar-item w3-button">Customer Login</a>
            <a routerLink="/customerRegistration" class="w3-bar-item w3-button">Register</a>
          </div>
        </div>
    </div>
<form #customerform = ngForm (ngSubmit) = "customerform.valid && validateCustomer(customerform)" class="modal-content animate" style="width:80%">
    <div class="container1">
        <h1>Customer Login Page</h1>
    <div>
        <label>Username: </label>
        <input name = "username" ngModel #usernameControl=ngModel required minlength="3" type="text">
    </div>
    <div *ngIf = "usernameControl.errors!=null && usernameControl.errors.required" class="error" style="color: red;">
        Username is required
    </div>
    <div *ngIf = "usernameControl.errors!=null && usernameControl.errors.minlength" class="error" style="color: red;">
        Minimum length is 3
    </div>


    <div>
        <label>Password: </label>
        <input name = "password" ngModel #passwordControl=ngModel required type="password"> 
    </div>
    <div *ngIf = "passwordControl.errors!=null && passwordControl.errors.required" class="error" style="color: red;">
        Password is required
    </div>
</div>
<div class="container1" style="background-color:#f1f1f1">
    <input type="submit" value="Login">
</div>
</form>
</div>